* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    height: 107vh;
    width: 100vw;
    background-image: linear-gradient(to bottom left, #0067b3, #40b0df, #ffd53d, #ffff02);
}

img {
    height: 105px;
    width: 70px;
}

header {
    background-color: rgb(49, 49, 77);
    color: white;
    margin: auto;
    text-align: center;
}

.objectsContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
}

.objects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 0 25px 0;
    width: 310px;
}

button {
    font-size: 60%;
}

.start {
    border-radius: 10%;
    margin: 0 25px;
}

.reset {
    border-radius: 10%;
    margin: 0 25px;
}

#timer {
    width: 110px;
}

.gameSection {
    display: flex;
    justify-content: center;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
    width: 315px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    /* visibility: visible; */
}

.back {
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    text-align: center;
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
}


/* FACE UP END----------------- */


/* FACE DOWN --------------*/


/* .front {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
}

.back {
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    text-align: center;
} */


/* FACE DOWN END -------------------*/

.flip-card {
    transform: rotateY(180deg);
}

@media only screen and (min-width:768px) {
    img {
        height: 200px;
        width: 160px;
    }
    .foods {
        height: 660px;
        width: 725px;
    }
    .objects {
        width: 700px;
    }
    button {
        font-size: 100%;
    }
}